// _dualSelect.scss

#{$ep}-dual-sel {
    $dsel: &;
    display: flex;
    justify-content: center;
    &__left, &__right{
        flex-basis: pxToRem(240);
        width: pxToRem(240);
        &-cont{
            height: pxToRem(265);
            border:solid 1px map-get($gray, 'C1C1C1');
            border-radius: 5px;  
            overflow: hidden;
        }
    }

    &__actions{
        display: flex;
        flex-flow: column nowrap;
        padding: pxToRem(15) pxToRem(33);
        justify-content: flex-end;
    }

    &__control{
        position: relative;
        border-bottom: solid 1px map-get($gray, 'C1C1C1');
    }

    &__clear{
        position: absolute;
        right: pxToRem(8);
        top: pxToRem(8);
        cursor: pointer;
        opacity: 0.6;

        &:hover{
            opacity: 1;
        }
    }

    &__input{        
        width: 100%;
        border: none;
        height: pxToRem(36);
        padding: pxToRem(10) pxToRem(15);
        color: $ep-font-color;
        &::placeholder{
            color: map-get($gray, 'C1C1C1');
        }
        &:focus{
            border: none;
            outline: none;
        }
    }
    
    &__btn{
        width: pxToRem(106);
        height: pxToRem(48);
        font-size: pxToRem(14);
        color: $btn-color;
        background: $white;
        border: solid 1px map-get($gray, 'C1C1C1');
        border-radius: 5px;
        margin-bottom: pxToRem(16);
        cursor: pointer;

        &:hover, &:focus{
            outline: none;
            background: map-get($gray, 'FAFAFA');
        }

        &[disabled]{
            background: $disabled-bg;
            border: 1px solid $font-disabled;
            box-shadow: none;
            color: $font-disabled;
            cursor: not-allowed;

            &:hover, &:focus{
                outline: none;
                background: $disabled-bg;
            }
        }
    }

    &__lst{
        max-height: pxToRem(227);
        overflow: auto;
        &-itm{
            padding: pxToRem(8) pxToRem(15);
            color: $black;
            cursor: pointer;
            word-break: break-all;
            &:hover{
                background-color: map-get($gray, 'FAFAFA');
            }

            &.selected{
                background-color: $selected-bg;
                font-family: $font-family-sb;
            }
        }
    }
}