<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WebServer1" value="https://tm-aeu-ecp-tst-ui.trafficmanager.net"/> <!--https://uat-true.ecopetrol.com.co-->
    <add key="UserName" value="trueadmin@ecopetrol.com.co"/>
    <add key="Password" value=""/>
  </appSettings>
</configuration>