################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.configcache
.vs/
bin/
obj/
TestResults/
packages/
node_modules/

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

/**/UpgradeLog*.htm

/**/lib/bootstrap/*.*
/**/lib/bootstrap/fonts
/**/lib/bootstrap/grunt
/**/lib/bootstrap/js
/**/lib/bootstrap/less
/**/lib/bootstrap/nuget
/**/lib/kendo-ui

/**/lib/font-awesome/*.*
/**/lib/font-awesome/less
/**/lib/font-awesome/scss
/**/js/dist

/**/__pycache__

/**/.vscode

*.feature.cs
*.rdb
*.Cache
*.user
*.wrn
*.log
*.err
*.old
*.suo
*.coverage
*.pubxml
*.dbmdl
*.jfm
*.trx
*-lock.json

*.psess
*.vsp
*.refactorlog

/CredentialProvider.VSS.exe
